<template>
  <div>
    <input
      type="file"
      accept=".csv"
      @change="handleFileUpload"
      @click="handleClearFile"
    />
    <p style="color: red; font-weight: bold">
      {{ msgError }}
    </p>
    <table class="table striped responsive-table" v-if="data.length > 0">
      <thead>
        <tr>
          <th>Contenedor</th>
          <th>Seal Customs</th>
          <th>Seal Agency</th>
          <th>Seal Others</th>
          <th>Peso</th>
          <th>Permisos</th>
          <th>valido</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item of data" :key="item" :class="item.valid? 'teal lighten-3': 'red lighten-2'">
          <td>{{ item.n4_unit_id }}</td>
          <td>{{ item.seal_customs }}</td>
          <td>{{ item.seal_agency ? item.seal_agency : "sin dato" }}</td>
          <td>{{ item.seal_others ? item.seal_others : "sin dato" }}</td>
          <td>{{ item.weight }}</td>
          <td>{{ item.docs_customs }}</td>
          <td>{{ item.valid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import readCsv from "papaparse";

const FIELDSVALID = ["contenedor", "precintos", "peso", "permisos"];
const DELIMITER = ";";

export default {
  data() {
    return {
      data: [],
      msgError: "",
    };
  },
  watch: {
    msgError(){
      if(this.msgError !== ''){
        this.data = [];
      }
    }
  },
  methods: {
    handleClearFile(e) {
      e.target.value = "";
    },
    async handleFileUpload(e) {
      this.msgError = "";
      const file = e.target.files[0];
      if (file.type !== "text/csv") {
        this.msgError = "El archivo debe ser un archivo CSV";
        this.handleClearFile(e);
        return;
      }

      const config = {
        header: true,
        skipEmptyLines: true,
        delimiter: DELIMITER,
      };
      await readCsv.parse(file, {
        ...config,
        complete: (results) => {
          console.log("results", results);
          if (this.validateStructure(results) === false) return;
          this.formatData(results.data);
        },
      });
    },
    formatData(data = []) {
      this.data = data.map((item) => {
        let result = Object.entries(item).map(([key, value]) => {
          return {
            [key]: value.trim(),
          };
        });
        result = Object.assign({}, ...result);
        const { contenedor, precintos, peso, permisos } = result;
        let data = {
          n4_unit_id: contenedor,
          weight: parseFloat(peso),
          seal_customs: precintos,
          seal_agency: null,
          seal_others: null,
          docs_customs: permisos,
          valid: Math.random() < 0.1,
        };

        let arrPrecintos = null;
        if (precintos.indexOf(",") !== -1) {
          arrPrecintos = precintos.split(",");
          data.seal_customs = arrPrecintos[0] ? arrPrecintos[0].trim() : "";
          data.seal_agency = arrPrecintos[1] ? arrPrecintos[1].trim() : "";
          data.seal_others = arrPrecintos[2] ? arrPrecintos[2].trim() : "";
        }
        return { ...data };
      });
      console.log(this.data);
    },
    validateStructure(file) {
      const { meta, errors } = file;

      if (errors.length > 0) {
        this.msgError = "El archivo contiene errores, verifique la estructura";
        return false;
      }

      if (meta.fields.length !== 4) {
        this.msgError = "El archivo debe tener 4 columnas";
        return false;
      }
      if (JSON.stringify(FIELDSVALID) !== JSON.stringify(meta.fields)) {
        this.msgError =
          'El archivo debe tener las columnas: contenedor, precintos, peso y permisos, separados por ";"';
        return false;
      }
      return true;
    },
    arrayTrim(arr = []) {
      return arr.map((item) => item.trim());
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
